.fl-fb-ControlBar {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;

  padding-bottom: 10px;
}

[class*='fl-fb-ControlBar-button'] {
  // margin: 3px;
  cursor: pointer;
}

.fl-fb-ControlBar-dropdown {
  position: relative;
}

.fl-fb-ControlBar-dropdown-content {
  position: absolute;
}

.fl-fb-ControlBar-dropdown-content {
  transform: translate3d(0, -1px, 0);
}

.fl-fb-ControlBar-dropdown-checkbox-label {
  margin: 0;
  font-weight: normal;
}

.fl-fb-ControlBar-dropdown-checkbox-toggle {
  display: none;
}

.fl-fb-ControlBar-dropdown:hover > .dropdown-menu {
  display: block;
}
