.full-width {
  width: 100%;
}

.fl-form-component{
  input[type=radio],
  input[type=checkbox] {
    margin-right: 5px;
  }
}

.fl-form-fabric {
  margin-bottom: 10px;

  button {
    margin-right: 5px;
  }
}
