//Variables
$font-grey: #999;
$font-dark-grey: #444;
$background-grey: #eee;
$active-blue: #63A8EB;
$highlight-blue: lighten($active-blue, 30%);

.fl-form-builder {
  display: block;
  padding: 10px;
  .full-width {
    width: 100%;
  }
  .fl-showing {
    visibility: visible !important;
    opacity: 1 !important;
  }
  .fl-hidden {
    visibility: hidden !important;
    opacity: 0 !important;
    transition: all 0.2s ease, visibility 0s;
  }
  .fl-grey-btn {
    color: $font-grey;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover {
      color: $font-dark-grey;
    }
  }
  .fl-blink-red {

    // transition: all 0.2s ease;
    animation-name: blinkOutline;
    animation-duration: 0.3s;
    animation-iteration-count: 2;
    animation-direction: reverse;
  }
  @keyframes blinkOutline {
    0% {
      outline: 1px solid rgba(250,0,0,0);
    }
    50% {
      outline: 1px solid rgba(250,0,0,0.8);
    }
    100% {
      outline: 1px solid rgba(250,0,0,0);
    }
  };
  @-webkit-keyframes blinkOutline {
    0% {
      outline: 1px solid rgba(250,0,0,0);
    }
    50% {
      outline: 1px solid rgba(250,0,0,0.8);
    }
    100% {
      outline: 1px solid rgba(250,0,0,0);
    }
  };
  .fl-form-fabric {
    margin-bottom: 10px;
    button {
      margin-right: 5px;
    }
  }
  .fl-component {
    padding-bottom: 5px;
    border-radius: 5px;
    transition: transform 0.2s ease-out; 

    &:hover {
      background-color: $highlight-blue;
    }

    &:hover .fl-component-side-control {
      @extend .fl-showing;
    }
    input[type=radio],
    input[type=checkbox] {
      margin-right: 5px;
      margin-left: 15px;
    }
    [contenteditable=true] {
      border-bottom: 1px solid $font-grey;
      &:focus {
        outline: none;
      }
    }

    span.fl-editable{
      display: inline-block;
      min-width: 30px;
    }

    label {
      display: inline-block;
      min-width: 30px;
    }
  }
  .fl-component-side-control {
    @extend .fl-hidden;
    transition: all 0.1s ease, visibility 0s;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(230,230,230,0.7);
    border-radius: 0 5px 5px 0;
    padding: 0 10px;
    min-height: 100%;
    text-align: center;
    * {
      display: block;
      position: relative;
      margin: 5px;
    }
    i,
    button {
      @extend .fl-grey-btn;
    }
  }
  .fl-component-config {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease, visibility 0s;
    border-radius: 0 0 5px 5px;
    background-color: $background-grey;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 99;
    width: 100%;
    transform: translateY(100%);
    padding: 15px;
    .fl-bottom-btn {
      margin-left: 5px;
      float: right;
    }
    .row {
      width: 100%;
    }
    label,
    .switch {
      display: inline-block;
    }
    .switch {
      margin: 0 5px;
    }
    i {
      margin: 0 5px;
    }
    input[type=text] {
      min-width: 300px;
      margin: 0 5px 10px;
    }
  }
  .fl-form-config-visible {
    background-color: $highlight-blue;

    .fl-component-side-control,
    .fl-component-config {
      @extend .fl-showing;
    }
    .fl-component-side-control {
      border-radius: 0 5px 0 0;
      button {
        @extend .fl-hidden;
      }
    }
  }

  /* ============================================================
    SWITCH
  ============================================================ */
  .cmn-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
  }
  .cmn-toggle + label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  $switch-height: 20px;
  $switch-width: calc( #{$switch-height} * 2);
  input.cmn-toggle-round + label {
    padding: 2px;
    width: $switch-width;
    height: $switch-height;
    background-color: #dddddd;
    -webkit-border-radius: $switch-height;
    -moz-border-radius: $switch-height;
    -ms-border-radius: $switch-height;
    -o-border-radius: $switch-height;
    border-radius: $switch-height;
  }
  input.cmn-toggle-round + label:before,
  input.cmn-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
  }
  input.cmn-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    -webkit-border-radius: $switch-height;
    -moz-border-radius: $switch-height;
    -ms-border-radius: $switch-height;
    -o-border-radius: $switch-height;
    border-radius: $switch-height;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
  }
  input.cmn-toggle-round + label:after {
    width: calc( #{$switch-height} - 2px);
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: margin 0.4s;
    -moz-transition: margin 0.4s;
    -o-transition: margin 0.4s;
    transition: margin 0.4s;
  }
  input.cmn-toggle-round:checked + label:before {
    background-color: $active-blue;
  }
  input.cmn-toggle-round:checked + label:after {
    margin-left: $switch-height;
  }
}
