//Variables
$c-font: #999;
$c-font-dark: #444;
$c-background: #eee;

$c-active: #63A8EB;
$c-highlight: lighten($c-active, 30%);
$c-danger: #d9534f;
$c-danger-text: #fff;


// FormComponent;
$fc-side-padding: 15px;
$fc-bottom-padding: 10px;


@mixin fade-hidden() {
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease, visibility 0s;
}

@mixin fade-visible() {
  visibility: visible;
  opacity: 1;
}
