.fl-fb-blink-red {

  // transition: all 0.2s ease;
  animation-name: blinkOutline;
  animation-duration: 0.3s;
  animation-iteration-count: 2;
  animation-direction: reverse;
}

@keyframes blinkOutline {
  0% {
    outline: 1px solid transparent;
  }
  50% {
    outline: 1px solid rgba(250,0,0,0.8);
  }
  100% {
    outline: 1px solid transparent;
  }
}

.fl-fb-Field--transparent {
  background-color: transparent;
  border: 0;
  min-width: 50%;
}

.fl-fb-Field-config {
  position: relative;
  background-color: $c-background;
  padding: 10px $fc-side-padding;
  left: -$fc-side-padding;
  margin-top: $fc-side-padding;
}

.fl-fb-Field-config-btn {
  color: $c-font;
  padding: 0 6px;
  background: transparent;
  border: 0;
  &:hover,
  &:active,
  &:focus {
    outline: 0 !important;
  }

  &:hover {
    color: darken($c-font, 10%);
  }

  &:active {
    color: darken($c-font, 40%);
  }

}

.fl-fb-Field-config-input {
  min-width: 50%;
  display: inline-block;
  padding: 5px;
}
