.fl-fb-ControlBar {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  justify-content: space-between;

  padding-bottom: 10px;
}

[class*='fl-fb-ControlBar-button'] {
  // margin: 3px;
  cursor: pointer;
}

.fl-fb-ControlBar-dropdown.fl-fb-ControlBar-dropdown {
  position: relative;
  z-index: $z-index-controlBar-dropdown !important;
}

.fl-fb-ControlBar-dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}


.fl-fb-ControlBar-dropdown-content {
  transform: translate3d(0, -1px, 0);

  a {
    display: block;
    padding: 3px 20px;
    white-space: nowrap;
    color: inherit;

    &:hover {
      text-decoration: none;
      background-color: #f5f5f5;
    }
  }
}

.fl-fb-ControlBar-dropdown-checkbox-label {
  margin: 0;
  font-weight: normal;
}

.fl-fb-ControlBar-dropdown-checkbox-toggle {
  display: none;
}

.fl-fb-ControlBar-dropdown:hover > .fl-fb-ControlBar-dropdown-content {
  display: block;
}
