//Variables
$c-font: #999;
$c-font-dark: #444;
$c-background: #eee;
$c-background-darker: darken($c-background, 10%);

$c-border: darken($c-background-darker, 20%);
$c-active: #63A8EB;
$c-highlight: lighten($c-active, 30%);
$c-text-highlight: #fcf8e3;
$c-danger: #d9534f;
$c-danger-text: #fff;


// FormComponent;
$fc-side-padding: 15px;
$fc-bottom-padding: 20px;

//z-indexes
$z-index-component: 1;
$z-index-component--config-visible: $z-index-component + 1;
$z-index-controlBar-dropdown: $z-index-component--config-visible + 1;



@mixin fade-hidden() {
  visibility: hidden;
  opacity: 0;
  transition: all .2s ease, visibility 0s;
}

@mixin fade-visible() {
  visibility: visible;
  opacity: 1;
}
