body {
    max-width: 800px;
    margin: auto;
    background-color: #f7f7f7;
}

.container {
    padding-bottom: 5em;
}

.navbar {
    height: 40px;
}

.greyed-out {
    background-color: #eee;
    padding: 2em;
}

.main-title {
    padding: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}


/* Custom component styling */

.ImageCards-cards {}

.ImageCards-card {
    width: 150px;
    border: 10px solid #ddd;
    margin: 10px;
}
